<div class="post">
    <article class="card">
        <div class="card-header flex-row justify-space-between">
            <h2>{{post.title}}</h2>
            <div>
                Posted by {{post.User.username}} on {{format_date post.createdAt}}
            </div>
        </div>
        <div class="card-body">
            {{post.body}}
        </div>
    </article>

    {{#if post.Comments}}
        <section class="card border-dark col-2 mt-2">
            <div class="card-header flex-row justify-space-between">
                <h3>Comments: </h3>
            </div>

            <div class="card-body">
                {{#each post.Comments}}
                    <div>
                        <p>
                            {{body}}
                        </p>
                        <p>
                            &mdash; {{User.username}}, {{format_date createdAt}}
                        </p>
                    </div>
                {{/each}}
            </div>
        </section>
    {{/if}}

    <form id="new-comment-form" class="card border-dark col-2 mt-2 position-relative bottom-0 start-50 translate-middle-x">
        <div class="card-head bg-primary text-white text-center">
            <h3>Add New Comment</h3>
        </div>

        <div class="card-body justify-content-center">
            <input type="hidden" name="post-id" value="{{post.id}}" />
            <label class="form-label text-center" for="comment-body">Comment:</label>
            <br />
            <textarea name="comment-body" class="form-input"></textarea>
            <br />
            <button type="submit" class="btn-primary position-relative bottom-0 start-50 translate-middle-x">Submit</button>
        </div>
    </form>
</div>

<script src="/js/comment.js">